
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<link href="~/css/vuemodal.css" rel="stylesheet" />
<script async defer src="https://maps.googleapis.com/maps/api/js?key={YOUR_GOOGLE_MAP_API_KEY_HERE}"></script>
<div id="branches">
    <div class="text-center">
        <h3 class="mb-3">Find Branches Near You</h3>
        <b>Your Address:</b>
        <p><input type="text" v-model="address" class="mt-2" /></p>
        <p>
            <i style="font-size:xx-small">
                Example: London, ON or N5Y5R6 or 1460 Oxford St., London
                On
            </i>
        </p>
        <input type="button" v-on:click="loadAndShowModal();" value="locate" class="btn btn-info" />
    </div>
    <branchmodal v-if="showModal" v-on:close="showModal = false" :lat="lat" :lng="lng"></branchmodal>
</div>
<script src="~/js/branchmap.js"></script>
@*template for the modal component*@
<script type="text/x-template" id="modal-template">
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <button type="button" class="close" style="font-size:xx-large;" v-on:click="$emit('close')">
                        X
                    </button>
                    <h3 class="text-center">3 Closest Branches</h3>
                    <div id="map" class="googlemap"></div>
                </div>
            </div>
        </div>
    </transition>
</script>